/* --- PERSONAGENS --- */
.disney-char {
    position: absolute;
    z-index: 5;
    pointer-events: none;
    bottom: 20px;
    left: -300px; /* Começam escondidos */
    /* O SEGREDO DO LOOP: Todos têm a mesma duração total (20s) */
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* --- ORDEM DE APARIÇÃO (Delays) --- */
/* Mickey entra na hora (0s) */
.mickey-style {
    width: 130px;
    bottom: 40px;
    animation-name: crossScreenNormal;
    animation-delay: 0s;
}

/* Minnie entra depois de 5s */
.minnie-wrapper {
    /* Wrapper é necessário para a Minnie pois ela tem animação de 'espiar' diferente */
    animation-name: peekCycle;
    animation-duration: 20s; /* Mesmo tempo total */
    animation-delay: 5s;
    /* Resetando posições para garantir */
    position: absolute;
    bottom: 30px;
    left: -200px;
    width: 120px;
    z-index: 6;
    pointer-events: none;
}

/* Donald entra depois de 10s */
.donald-style {
    width: 140px;
    bottom: 25px;
    animation-name: crossScreenReverse; /* Ele corre ao contrário */
    animation-delay: 10s;
}

/* Pluto entra depois de 15s */
.pluto-style {
    width: 150px;
    bottom: 20px;
    animation-name: crossScreenReverse; /* Ele também */
    animation-delay: 15s;
}


/* --- ESPELHAMENTO (MIRROR) --- */
/* Adicione esta classe nas tags <img> do Donald e Pluto no HTML */
.mirror {
    transform: scaleX(-1); /* Inverte a imagem horizontalmente */
}


/* --- KEYFRAMES (As Animações) --- */

/* Esquerda para Direita (Mickey) */
@keyframes crossScreenNormal {
    0% {
        left: -300px;
    }
    /* Começa fora */
    20% {
        left: 110vw;
    }
    /* Atravessa a tela em 4 segundos (20% de 20s) */
    100% {
        left: 110vw;
    }
    /* Fica esperando fora o resto do tempo */
}

/* Direita para Esquerda (Donald e Pluto) */
@keyframes crossScreenReverse {
    0% {
        left: 110vw;
    }
    /* Começa na direita fora da tela */
    20% {
        left: -300px;
    }
    /* Atravessa para a esquerda */
    100% {
        left: -300px;
    }
    /* Fica esperando fora */
}

/* Minnie Espiando */
@keyframes peekCycle {
    0% {
        left: -200px;
    }

    5% {
        left: -40px;
    }
    /* Espia rápido */
    15% {
        left: -40px;
    }
    /* Fica um tempinho */
    20% {
        left: -200px;
    }
    /* Esconde */
    100% {
        left: -200px;
    }
    /* Espera o loop acabar */
}
